@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:wght@200;300&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../Images/image2.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    flex-wrap: wrap;
}
.icon {
    width: 55%;
    height: 45%;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
span {
    color: #f8071b;
}
span.span1 {
    color: #7ce5ed;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: #e90732;
    transition: .4s;
}
.btn {
    background-color: #e90732;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px  25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover {
    transform: scale(1.2);
}
.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1 {
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form {
    width: 300px;
    max-width: 100%;
    position: relative;

}
.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid  #e90732;
    outline: none;
    border-radius: 20px;
}
.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px ;
    border-radius: 30px;
    background-color: #e90732;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #99b8d4;
}
img.about-images {
    width: 100%;
    height: 100%;
}
.about::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#99b8d4,transparent);
}.about::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#99b8d4,transparent);
}
.about img{
    height: auto;
    width: 430px;
    margin: auto;
    flex-wrap: wrap;
}
.about-text {
    width: 550px;
    flex-wrap: wrap;
    justify-content: baseline;
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2 {
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button {
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.service {
    background: url(../gif/gif5.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 0px;
    flex-wrap: wrap;
    justify-content: center;
}
.service::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#99b8d4,transparent);
}
.title h2 {
    color: #ffff;
    font-size: 75px;
    width: 1130px;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card {
    height: 335px;
    width: 335px;
    padding: 20px 35px;
    background: #2a3eff;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

h5 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button {
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.contact-me {
    width: 100%;
    height: 290px;
    background: #eb7a06;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two {
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
/*--contactme*/
.wrapper1 {
    width: 350px;
    height: 380px;
    background: rgb(8, 215, 223);
    padding: 10px;
    margin: 100px auto;
    box-shadow: 0px 10px 5px rgb(0, 0, 0, 0.1);
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border: 1px solid rgb(139, 83, 73);
    background: url(../gif/about/new-image2.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    align-items: center;
}
form.contact-form {
    width: 260px;
    margin: 20px 37px;
    text-align: end;
}
h3.contacth1 {
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}
input.contact-input, textarea {
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    display: block;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid tomato;
}
button.section3-button {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    color: #99b8d4;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 15px;
    background: tomato;  
}
button.section3-button:hover {
    background-color: rgb(4, 252, 252);
}
/*footer-section*/

/*footer3*/
.footer-h3 {
    color: #fff;
    font: normal 36px 'cookie', cursive;
    margin: 0;
}
.footer-h3 span.footer-span {
    color: #e0ac1c;
    font: normal 36px 'cookie', cursive;
}
footer {
    bottom: 0;
}
@media (max-height:800px)
{
    footer{
        position: static;
    }
    header{
        padding-top: 40px;
    }
}

.footer1 {
    background-color: #2d2a30;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}
.footer1 .footer-left, .footer1 .footer-center, .footer1 .footer-right {
    display: inline-block;
    vertical-align: top;
}
.footer1 .footer-left {
    width: 30%;
}
.footer1 h3 {
    color: #fff;
    font: normal 36px 'cookie', cursive;
    margin: 0;
}
.footer1 h3 span {
    color: #e0ac1c;
}
.footer1 .footer-links {
    color: #fff;
    margin: 20px 0 12px;
}
.footer1 .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer1 .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer1 .footer-center {
    width: 35%;
}
.footer1 .footer-center i {
    background-color: #33383b;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer1 .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer1 .footer-center p {
    display: inline-block;
    color: #ffff;
    vertical-align: middle;
    margin: 0;
}
.footer1 .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer1 .footer-center p a {
    color: #e0ac1a;
    text-decoration: none;
}

.footer1 .footer-right {
    width: 30%;
}
.footer1 .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer1 .footer-company-about span {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer1 .footer-icon {
    margin-top: 25px;
    
}
.footer1 .footer-icon a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer1 .footer-icon a:hover {
    background-color: #3f71ea;
}
.footer-links a:hover {
    color: #3f71ea;
}

@media(max-width: 880px){
    .footer1 .footer-links, .footer1 .footer-center, 
    .footer1 .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer1 .footer-center i {
        margin-left: 0;
    }
}

/*Bootstrap*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  } 

  /*About Pages Styles */
  .info-div {
    padding: 12px;
    margin-bottom: 12px;
  }